
#define	INCL_WINSYS
#define INCL_WINSTDDLGS
#define INCL_WINSTDSPIN
#define INCL_NLS
#define INCL_SW

#include <os2.h>

#include "musepm.rh"

ICON	    DLG_FILECHOOZER D:\Prj\Muse!2\Bin\Muse2.ICO
ICON      ICO_FOLDER Folder.ico
ICON      ICO_FOLDEROPEN FolderOpen.ico
ICON      ICO_ARCHIVE Archive.ico

POINTER   PTR_DISKWAIT DiskWait.ptr
POINTER   PTR_WAIT Wait.ptr

WINDOWTEMPLATE DLG_FILECHOOZER
BEGIN
    FRAME "File Choozer", DLG_FILECHOOZER, -42, 42, 377, 156,
		FS_NOBYTEALIGN | FS_BORDER | WS_CLIPSIBLINGS | WS_SAVEBITS |
		WS_VISIBLE, FCF_TITLEBAR | FCF_SYSMENU | FCF_HIDEBUTTON | FCF_TASKLIST

//    PRESPARAMS PP_BACKGROUNDCOLORINDEX,	CLR_WHITE
    PRESPARAMS PP_FONTNAMESIZE,	"8.Helv"

    BEGIN
	CONTROL	"",		       LB_FILES, 7, 26,	217, 66, WC_LISTBOX,
					    LS_OWNERDRAW | WS_VISIBLE
		PRESPARAMS PP_BACKGROUNDCOLORINDEX, CLR_WHITE
	CONTROL	"",		       LB_DIRS,	229, 26, 141, 65, WC_LISTBOX,
					    LS_OWNERDRAW | WS_VISIBLE
		PRESPARAMS PP_BACKGROUNDCOLORINDEX, CLR_WHITE
	CONTROL	"",		       LB_SONGLIST, 7, 104, 217, 41, WC_LISTBOX,
					    LS_OWNERDRAW | WS_VISIBLE
		PRESPARAMS PP_BACKGROUNDCOLORINDEX, CLR_WHITE
	CONTROL	"OK",		       DID_OK, 337, 141, 35, 11, WC_BUTTON,
					    BS_PUSHBUTTON | BS_NOPOINTERFOCUS |
					    WS_TABSTOP | WS_VISIBLE
	CONTROL	"Undo",		       PB_UNDO,	337, 130, 35, 11, WC_BUTTON,
					    BS_PUSHBUTTON | BS_NOPOINTERFOCUS |
					    WS_TABSTOP | WS_VISIBLE
	CONTROL	"Play",		       272, 337, 119, 35, 11, WC_BUTTON,
					    BS_PUSHBUTTON | BS_NOPOINTERFOCUS |
					    WS_TABSTOP | WS_VISIBLE
	CONTROL	"Add",		       PB_ADD, 229, 135, 38, 9,	WC_BUTTON,
					    BS_PUSHBUTTON | BS_NOPOINTERFOCUS |
					    WS_TABSTOP | WS_VISIBLE
	CONTROL	"Remove",	       PB_REMOVE, 229, 125, 38,	9, WC_BUTTON,
					    BS_PUSHBUTTON | BS_NOPOINTERFOCUS |
					    WS_TABSTOP | WS_VISIBLE
	CONTROL	"Refresh",	       PB_REFRESH, 275, 125, 37, 9, WC_BUTTON,
					    BS_PUSHBUTTON | BS_NOPOINTERFOCUS |
					    WS_TABSTOP | WS_VISIBLE
	CONTROL	"Auto Play",	       270, 275, 135, 44, 10, WC_BUTTON,
					    BS_CHECKBOX	| WS_TABSTOP |
					    WS_VISIBLE
	CONTROL	"Quick Find",	       -1, 7, 2, 361, 22, WC_STATIC,
					    SS_GROUPBOX	| WS_VISIBLE
	CONTROL	"",		       ED_NAME,	12, 7, 278, 8, WC_ENTRYFIELD,
					    ES_AUTOSCROLL | ES_MARGIN |
					    WS_TABSTOP | WS_VISIBLE
		CTLDATA	8, 32, 0, 0
	CONTROL	"Add",		       PB_QUICKADD, 295, 7, 21, 9, WC_BUTTON,
					    BS_PUSHBUTTON | WS_TABSTOP |
					    WS_VISIBLE
	CONTROL	"Del",		       PB_QUICKDEL, 318, 7, 21, 9, WC_BUTTON,
					    BS_PUSHBUTTON | WS_TABSTOP |
					    WS_VISIBLE
	CONTROL	"Goto",		       PB_QUICKGOTO,	340, 7,	21, 9, WC_BUTTON,
					    BS_PUSHBUTTON | WS_TABSTOP |
					    WS_VISIBLE
	CONTROL	"Song List",	       -1, 8, 147, 32, 8, WC_STATIC, SS_TEXT |
					    WS_VISIBLE
	CONTROL	"Directories",	       -1, 229,	93, 137, 7, WC_STATIC, SS_TEXT |
					    WS_VISIBLE
	CONTROL	"Songs",	       -1, 7, 94, 217, 7, WC_STATIC, SS_TEXT |
					    WS_VISIBLE
	CONTROL	"Refreshing",	       -1, 229, 113, 37, 8, WC_STATIC,	SS_TEXT	|
					    WS_VISIBLE
	CONTROL	"",		       ST_CURREFRESH, 229, 105, 139, 8, WC_STATIC,
					    SS_TEXT | WS_VISIBLE
    END
END
